<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stackoverflow Response Time Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Stackoverflow Response Time Predictor</h1>
            <h3>How long will it take for my question to receive an accepted answer on Stack Overflow?</h3>
            <p>How long will it take for my question to receive an accepted answer on Stack Overflow?</p>
        </div>

        <div class="row">
            <div class="col">
                <h2>About Our Project</h2>
                <p>Time is valuable; and we don’t want to sit around waiting for answers. 
                    As programming students, we use online resources to ask questions to build our knowledge,
                     troubleshoot code and expand our problem solving skills. But, once we ask that question,
                      we have no idea when we can expect a response.
                    <br><br>
                    Should we stick around because answers will start coming in within the hour? 
                    <br><br>    
                    Or step away from the problem and come back tomorrow for an answer? 
                    <br><br>
                    Or keep researching and combing through documentation because it’s going to be a while?
                    <br><br>
                    So we set out to answer the question:
                    <h4>How long will it take for my question to receive an accepted answer on Stack Overflow?</h4>
                    <br>
                    For more information visit our Github by clicking <a href="https://github.com/smanowar/final-project">here.</a>
            </p>
                <div id="plot"></div>
            </div>
            <div class="col">
                <h2>What the Data Says</h2>
                <p>The inputs have different impacts on the prediction
                    <br><br>
                    insert feature importance bar graph
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Try it out below:</h2>
                <p>For more information on how this works, click <a href="/send">here</a></p>
            </div>
        </div>    
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send" role="form", name="petform">
                        <div class="form-group">
                            <label for="inputName">Word Count:</label>
                            <input type="text" class="form-control" id="inputName" name="petName" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="inputLat">Hour Posted:</label>
                            <input type="text" class="form-control" id="inputLat" name="petLat" placeholder="Lat">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Day Posted:</label>
                            <input type="text" class="form-control" id="inputLon" name="petLon" placeholder="Lon">
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>
        <div class="row"> 
            <div class="col">
                <h3>Tools used</h3>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. 
                    Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a 
                    pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. 
                    Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin
                    molestie malesuada. Proin eget tortor risus.</p>
            </div>
        </div>



            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
