<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stackoverflow Response Time Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Stackoverflow Response Time Predictor</h1>
            <p>How long will it take to get a response to your question?</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>insert text</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                    culpa qui officia deserunt mollit anim id est laborum."</p>
                <div id="plot"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="/send">Try it out below:</a></h2>



                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send" role="form", name="petform">
                        <div class="form-group">
                            <label for="inputName">Word Count:</label>
                            <input type="text" class="form-control" id="inputName" name="petName" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="inputLat">Hour Posted:</label>
                            <input type="text" class="form-control" id="inputLat" name="petLat" placeholder="Lat">
                        </div>
                        <div class="form-group">
                            <label for="inputLon">Day Posted:</label>
                            <input type="text" class="form-control" id="inputLon" name="petLon" placeholder="Lon">
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>






            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
